<!DOCTYPE html>
<html lang="en" xmlns:text-decoration="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Admin startpage</title>

    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/nav.css">
</head>
<body>


<div class="background">
    <div class="navbar">
        <img src="/images/alphasolutionslogo.svg" alt="Logo">

        <ul class="nav-links">
            <li><a th:href="@{/adminStartpage}" style="text-decoration: underline;">Dashboard</a></li>
            <li><a th:href="@{/users}">Users</a></li>
            <li><a th:href="@{/statistics}">Statistics</a></li>
            <li><a class="logout" th:href="@{/logout}">🔒 Logout</a></li>
        </ul>
    </div>


</div>

</body>
</html>