<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin startpage</title>

    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/grid-boxes.css">
    <link rel="stylesheet" href="/css/usertable.css">
</head>
<body>


<div class="background">
    <div class="navbar">
        <img src="/images/alphasolutionslogo.svg" alt="Logo">

        <ul class="nav-links">
            <li><a th:href="@{/adminStartpage}" style="text-decoration: underline;">Dashboard</a></li>
            <li><a th:href="@{/users}">Users</a></li>
            <li><a th:href="@{/statistics}">Statistics</a></li>
            <li><a class="logout" th:href="@{/logout}">🔒 Logout</a></li>
        </ul>
    </div>

    <div th:if="${ongoingProjects}" class="allprojects">
        <h2>Ongoing projects</h2>

        <div class="project-content">

            <div class="project-item" th:each="project : ${ongoingProjects}">
                <p class="name" th:text="${project.projectName}"></p>
                <p>
                    <span th:if="${project.status.name() == 'COMPLETED'}">✅</span>
                    <span th:if="${project.status.name() != 'COMPLETED'}">📍</span>
                    <span th:text="${project.status.displayName}"></span>
                </p>

                <p>
                    📅 Startdate: <span th:text="${#temporals.format(project.startDate, 'dd.MM.YYYY')}"></span>
                </p>
                <p>
                    ⏰ Deadline: <span th:text="${#temporals.format(project.deadline, 'dd.MM.YYYY')}"></span>
                </p>

                <div class="progress-container">
                    <div class="progress-fill" th:style="'width:' + ${project.progress} + '%'"></div>
                </div>
                <p><span th:text="${project.progress} + '%'"></span> progress</p>

                <a th:href="@{/projects/view/{id}(id=${project.id})}">
                    <button class="update-button" type="button">➡️ View project</button>
                </a>

            </div>

        </div>

    </div>

    <div th:if="${finishedProjects}" class="allprojects">
        <h2>Finished projects</h2>

        <div class="project-content">

            <div class="project-item" th:each="project : ${finishedProjects}">
                <p class="name" th:text="${project.projectName}"></p>
                <p>
                    <span th:if="${project.status.name() == 'COMPLETED'}">✅</span>
                    <span th:if="${project.status.name() != 'COMPLETED'}">📍</span>
                    <span th:text="${project.status.displayName}"></span>
                </p>

                <p>
                    📅 Startdate: <span th:text="${#temporals.format(project.startDate, 'dd.MM.YYYY')}"></span>
                </p>
                <p>
                    ⏰ Deadline: <span th:text="${#temporals.format(project.deadline, 'dd.MM.YYYY')}"></span>
                </p>

                <div class="progress-container">
                    <div class="progress-fill" th:style="'width:' + ${project.progress} + '%'"></div>
                </div>
                <p><span th:text="${project.progress} + '%'"></span> progress</p>

                <a th:href="@{/projects/view/{id}(id=${project.id})}">
                    <button class="update-button" type="button">➡️ View project</button>
                </a>

            </div>

        </div>

    </div>

</div>
</body>
</html>