<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Internal Server Error</title>

    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/errorpage.css">
</head>
<body>
<div class="background">
    <div class="content">
        <h1>500 - Internal Server Error</h1>
        <p th:if="${errorMessage != null}" th:text="${errorMessage}"></p>Something went wrong. We're working to fix it.</p>
        <a href="/loginform">Back to login</a>
    </div>
</div>
</body>
</html>