.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    position: fixed;
    top: 0;
    padding: 10px 30px;
    box-sizing: border-box;
    z-index: 1;
}

.navbar div {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 40px;
    padding: 0;
    margin: 0;
}

.nav-links li a {
    text-decoration: none;
    font-size: 20px;
    color: white;
    font-weight: 800;
}

.navbar img {
    height: 40px;
    vertical-align: middle;
}



.logout {
    background-color: #7e1010;
    padding: 4px 10px;
    border-radius: 5px;
    font-weight: 800;
    text-decoration: none;
}