.table {
    display: flex;
    justify-content: center;
    margin-top: 150px;
}

table {
    border-collapse: collapse;
    background-color: white;
    width: 80%;
    max-width: 1000px;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

th, td {
    padding: 12px 15px;
    border: 1px solid #ddd;
}

th {
    background-color: #f4f4f4;
    font-weight: bold;
}