<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Project Page</title>

    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/usertable.css">
    <link rel="stylesheet" href="/css/projectpage.css">

</head>
<body>

<div class="background">

    <div class="shadow">

        <a th:href="@{/projects/{role}Startpage(role=${userRole})}" class="back-button">← Back</a>

        <div class="headline">
            <img src="/images/logonotext.svg" alt="Logo">
            <h1 th:text="${project.projectName}"></h1>
        </div>

        <div class="projectinfo">
            <!-- Owner buttons-->
            <section th:if="${isOwner}" class="owner-actions">
                <h2>Project Actions:</h2>
                <div class="action-buttons">
                    <a th:href="@{/projects/update/{id}(id=${project.id})}">
                        <button class="update-button" type="button">🔄 Update project</button>
                    </a>
                    <form th:action="@{/projects/delete/{id}(id=${project.id})}" method="post" onsubmit="return confirm('Are you sure?')">
                        <button class="delete-button" type="submit">❌ Delete project</button>
                    </form>
                </div>
            </section>

            <!-- Project Overview -->
            <section class="project-overview">
                <h2>Project Overview</h2>

                <p th:if="${projectManager}">
                    👑 Project Manager: <span th:text="${projectManager.username}"></span>
                </p>

                <p th:if="${project.description != null}">
                    📝 <span th:text="${project.description}"></span>
                </p>

                <p th:if="${project.completedAt != null}">
                    ✅ Completed at: <span th:text="${#temporals.format(project.completedAt, 'dd.MM.yyyy')}"></span>
                </p>

                <p>
                    🎯 Number of milestones: <span th:text="${#lists.size(project.milestones)}"></span>
                </p>

                <p>
                    ⏳ Estimated remaining: <span th:text="${estimatedHours}"></span> hours
                </p>

            </section>

            <!-- Progress % Status -->
            <section class="project-metrics">
                <h2>⛏️ Work Metrics </h2>

                <p>
                    📊 Hours spent: <span th:text="${project.actualHoursUsed}"></span> hours
                </p>

                <p th:if="${project.estimatedHours}">
                    ⏳ Estimated remaining: <span th:text="${project.estimatedHours}"></span> hours
                </p>

                <p>
                    💰 Calculated cost: <span th:text="${project.calculatedCost}"></span> kr
                </p>
            </section>

            <!-- Timeline -->
            <section class="project-timeline">
                <h2>🕒 Timestamps</h2>

                <p>
                    Created at: <span th:text="${#temporals.format(project.createdAt, 'dd.MM.yyyy')}"></span>
                </p>

                <p>
                    Startdate: <span th:text="${#temporals.format(project.startDate, 'dd.MM.yyyy')}"></span>
                </p>

                <p>
                    Deadline: <span th:text="${#temporals.format(project.deadline, 'dd.MM.yyyy')}"></span>
                </p>

            </section>

            <!-- Project Status -->
            <section class="project-status">
                <h2>📊 Progress & Status</h2>

                <p>
                    📍 <span th:text="${project.status.displayName}"></span>
                </p>

                <div class="progress-container">
                    <div class="progress-fill" th:style="'width:' + ${project.progress} + '%'"></div>
                </div>

                <p>
                    <span th:text="${project.progress} + '%'"></span> of milestones completed
                </p>
            </section>

        </div>


        <div class="projectMilestones">
            <h2>🎯 Project milestones</h2>

            <div class="project-content">

                <!-- ongoing milestones -->
                <div class="project-item" th:each="milestone : ${ongoingMilestones}">
                    <p class="name" th:text="${milestone.milestoneName}"></p>
                    <p>
                        📍 <span th:text="${milestone.milestoneStatus.displayName}"></span>
                    </p>

                    <p>
                        ⏰ Deadline: <span th:text="${#temporals.format(milestone.deadline, 'dd.MM.YYYY')}"></span>
                    </p>

                    <div class="milestone-progress">
                        <div class="progress-fill" th:style="'width:' + ${milestone.progress} + '%'"></div>
                    </div>

                    <p><span th:text="${milestone.progress} + '%'"></span> progress</p>

                    <a th:href="@{/milestones/view/{id}(id=${milestone.id})}">
                        <button class="update-button" type="button">➡️ View Milestone</button>
                    </a>
                </div>


                <!-- finished milestones -->
                <div class="project-item" th:each="milestone : ${finishedMilestones}">
                    <p class="name" th:text="${milestone.milestoneName}"></p>
                    <p>
                        ✅ <span th:text="${milestone.milestoneStatus.displayName}"></span>
                    </p>

                    <p>
                        ⏰ Deadline: <span th:text="${#temporals.format(milestone.deadline, 'dd.MM.YYYY')}"></span>
                    </p>

                    <div class="milestone-progress">
                        <div class="progress-fill" th:style="'width:' + ${milestone.progress} + '%'"></div>
                    </div>

                    <p><span th:text="${milestone.progress} + '%'"></span> progress</p>

                    <a th:href="@{/milestones/view/{id}(id=${milestone.id})}">
                        <button class="update-button" type="button">➡️ View Milestone</button>
                    </a>
                </div>


                <div class="project-item" th:if="${#lists.isEmpty(projectMilestones)}">
                    <h3>This project has no milestones</h3>

                    <a th:if="${isOwner}" th:href="@{/milestones/add/{projectId}(projectId=${project.id})}">
                        <button class="add-button" type="button">✚ Add milestone</button>
                    </a>
                </div>

                <div class="project-item" th:if="${!#lists.isEmpty(projectMilestones) and isOwner}">
                    <div class="button-wrapper" id="#add-milestone">
                        <a th:href="@{/milestones/add/{projectId}(projectId=${project.id})}">
                            <button class="add-button" type="button">✚ Add milestone</button>
                        </a>
                    </div>
                </div>


            </div>

        </div>


    </div>
</div>

</body>
</html>