<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add user</title>
</head>
<body>
<h1>Add a new user</h1>

<form method="post" th:action="@{/register}">
    <label for="username">Username</label>
    <input id="username" type="text" class="input-field" name="username" required>

    <label for="rawPassword">Password</label>
    <input id="rawPassword" type="password" class="input-field" name="rawPassword" required>

    <label for="role">Role:</label>
    <select name="role" id="role">
        <option th:each="role : ${Role}" th:value="${role}" th:text="${role.displayName}">Role</option>
    </select>

    <button type="submit">Add user</button>
</form>

<a th:href="@{/users}">
<button type="button">Tilbage</button>
</a>


</body>
</html>