<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Set hours for task</title>
  <link rel="stylesheet" href="/css/background.css">
  <link rel="stylesheet" href="/css/nav.css">
  <link rel="stylesheet" href="/css/addmilestone.css">
</head>
<body>
<div class="background">
  <h1 th:text="${task.getTaskName()}"></h1>



  <form method="post" th:action="@{/tasks/set-hours}">

    <a th:href="@{/tasks/view/{id}(id=${task.id})}" class="back-button">← Back</a>

    <input type="hidden" name="taskId" th:value="${taskId}">

    <div style="margin-top: 30px;">
      <label for="setHours">Set Hours:</label>
      <input id="setHours" class="input-field" type="number" name="hours" min="0" required>
    </div>
    <div>
      <button type="submit">Save</button>
    </div>

  </form>
</div>


</body>
</html>