<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Add a Milestone</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/addmilestone.css">
</head>
<body>
<div class="background">
    <div class="headline">
        <img src="/images/logonotext.svg" alt="Logo">
        <h1><span>Add a milestone to the project</span></h1>
    </div>

  <form method="post" th:action="@{/milestones/save}" th:object="${milestone}">

      <a th:href="@{/projects/{role}Startpage(role=${userRole})}" class="back-button">← Back</a>

    <input type="hidden" name="projectId" th:value="${projectId}"/>

<div>
  <label for="name">Milestone name:</label>
  <input id="name" class="input-field" type="text" th:field="*{milestoneName}" required>
</div>

    <div class="input">
      <p>Add Description:</p>
      <textarea class="input-field-description" th:field="*{milestoneDescription}"></textarea>
    </div>

    <div>
      <label for="deadline">Deadline:</label>
      <input id="deadline" type="date" th:field="*{deadline}" required>
    </div>

    <div>
      <button type="submit">Add Milestone</button>
    </div>

      <div th:if="${errorMessage}" class="error-message">
          <p th:text="${errorMessage}" style="text-align: center; color: #7e1010 "></p>
      </div>

  </form>




</div>

</body>
</html>