<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${task.id} != null ? 'Edit Task' : 'Create Task'">Task Form</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/addmilestone.css">
</head>
<body>
<div class="background">
    <div class="headline">
        <img src="/images/logonotext.svg" alt="Logo">
        <h1>Add new task to milestone</h1>
    </div>

    <form method="post" th:action="@{/tasks/create}" th:object="${task}">

        <a th:href="@{/milestones/view/{id}(id=${milestoneId})}" class="back-button" >← Back</a>

        <input type="hidden" th:field="*{milestoneId}" />

        <div style="margin-top: 30px;">
            <label for="taskName">Name:</label>
            <input id="taskName" class="input-field" type="text" th:field="*{taskName}" required>
        </div>

        <div class="input">
            <p>Description:</p>
            <textarea class="input-field-description" th:field="*{taskDescription}" required></textarea>
        </div>

        <div class="input">
            <p>Start Date:</p>
            <input type="datetime-local" class="input-field" th:field="*{startedDate}">
        </div>

        <div class="input">
            <p>Deadline:</p>
            <input type="datetime-local" class="input-field" th:field="*{deadline}">
        </div>

        <div class="input">
            <p>Estimated hours:</p>
            <input type="number" class="input-field" th:field="*{estimatedHours}">
        </div>

        <h3>Assign employees to task</h3>
        <div class="checkbox-grid" style="margin-top: 20px;">
            <label th:each="user : ${employees}">
                <input type="checkbox" name="userIds" th:value="${user.id}" />
                <span th:text="${user.username}">Employee Name</span>
            </label>
        </div>

        <div th:if="${#lists.isEmpty(employees)}">
            <h3>No employees registered.</h3>
        </div>

        <div>
            <button type="submit">Save</button>
        </div>

        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}" style="text-align: center; color: #7e1010 "></p>
        </div>

    </form>
</div>
</body>
</html>
