<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/grid-boxes.css">
</head>
<body>
<div class="background">
    <div class="navbar">
        <img src="/images/alphasolutionslogo.svg" alt="Logo">

        <ul class="nav-links">
            <li><a th:href="@{/projectmanagerStartpage}" style="text-decoration: underline;">Dashboard</a></li>
            <li><a th:href="@{/users}">Users</a></li>
            <li><a th:href="@{/statistics}">Statistics</a></li>
            <li><a class="logout" th:href="@{/logout}">🔒 Logout</a></li>
        </ul>
    </div>

    <div class="allprojects">
        <h2>Ongoing projects</h2>

        <div class="project-content">

            <div class="project-item" th:each="project : ${allProjects}">
                <p class="name">
                    <a th:href="@{/milestones/{id}(id=${project.id})}" th:text="${project.projectName}"></a>

                </p>
                <p th:text="${project.status.displayName}"></p>


                <p>
                    📅 Startdate: <span th:text="${#temporals.format(project.startDate, 'dd.MM.YYYY')}"></span>
                </p>
                <p>
                    ⏰ Deadline: <span th:text="${#temporals.format(project.deadline, 'dd.MM.YYYY')}"></span>
                </p>

                <div class="progress-container">
                    <div class="progress-fill" th:style="'width:' + ${project.progress} + '%'"></div>
                </div>
                <p><span th:text="${project.progress} + '%'"></span> done</p>

            </div>

        </div>

    </div>

</div>
</body>
</html>