<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Update Milestone</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/addmilestone.css">
</head>
<body>
<div class="background">
    <div class="headline">
        <img src="/images/logonotext.svg" alt="Logo">
        <h1>Update milestone: '<span th:text="${milestone.milestoneName}"></span>'</h1>
    </div>
    <form th:action="@{/milestones/update}" method="post" th:object="${milestone}">

        <a th:href="@{/projects/view/{id}(id=${milestone.projectId})}" class="back-button">← Back</a>

        <div>
            <label for="name">Name:</label>
            <input id="name" class="input-field" type="text" th:field="*{milestoneName}" required>
        </div>

        <div class="input">
            <p>Description:</p>
            <textarea class="input-field-description" th:field="*{milestoneDescription}"></textarea>
        </div>

        <div>
            <label for="status">Status:</label>
            <select id="status" th:field="*{status}">
                <option th:each="status : ${status}"
                        th:value="${status}"
                        th:text="${status.displayName}">
                </option>
            </select>
        </div>

        <div>
            <label for="deadline">Deadline:</label>
            <input id="deadline"
                   type="datetime-local"
                   name="deadline"
                   th:value="${#temporals.format(milestone.deadline, 'yyyy-MM-dd''T''HH:mm')}"
                   required>
        </div>

        <input type="hidden" th:field="*{id}">

        <div>
            <button type="submit">Update Milestone</button>
        </div>

        <div th:if="${errorMessage}" class="error-message">
            <p th:text="${errorMessage}" style="text-align: center; color: #7e1010 "></p>
        </div>

    </form>


</div>

</body>
</html>