<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="${task.id} != null ? 'Edit Task' : 'Create Task'">Task Form</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/addmilestone.css">
</head>
<body>
<div class="background">
    <h1 th:text="${task.taskName}"></h1>

    <form method="post" th:action="@{/tasks/create}" th:object="${task}" >

        <input type="hidden" th:field="*{milestoneId}"/>
        <div>
            <label for="taskName">Name:</label>
            <input id="taskName" class="input-field" type="text" th:field="*{taskName}" required>
        </div>

        <div class="input">
            <p>Description:</p>
            <textarea class="input-field-description" th:field="*{taskDescription}" required></textarea>
        </div>



        <div class="input">
            <p>Start Date:</p>
            <input type="datetime-local" class="input-field" th:field="*{startedDate}">
        </div>

        <div class="input">
            <p>Deadline:</p>
            <input type="datetime-local" class="input-field" th:field="*{deadline}">
        </div>

        <div>
            <button type="submit">Save</button>

        </div>
    </form>
</div>
</body>
</html>

<div class="input">
    <label for="status">Status:</label>
    <select id="status" th:field="*{status}">
        <option value="NOT_STARTED">Not Started</option>
        <option value="IN_PROGRESS">In Progress</option>
        <option value="COMPLETED">Completed</option>
    </select>
