<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/css/background.css">
    <link rel="stylesheet" href="/css/nav.css">
    <link rel="stylesheet" href="/css/usertable.css">
    <link rel="stylesheet" href="/css/userbuttons.css">
</head>
<body>

<div class="background">

    <div class="navbar">
        <img src="/images/alphasolutionslogo.svg" alt="Logo">

        <ul class="nav-links">
            <li><a th:href="@{projects/projectmanagerStartpage}">Dashboard</a></li>
            <li><a th:href="@{/users}" style="text-decoration: underline;">Users</a></li>
            <li><a th:href="@{/statistics}">Statistics</a></li>
            <li><a class="add" th:href="@{projects/add}">✚ Add project</a></li>
            <li><a class="logout" th:href="@{/logout}">🔒 Logout</a></li>
        </ul>
    </div>

    <div class="table">
        <table>
            <thead>
            <tr>
                <th>Username</th>
                <th>Role</th>
                <th>Created At</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="user : ${allUsers}">
                <td th:text="${user.username}">username</td>
                <td th:text="${user.role.getDisplayName}">role</td>
                <td th:text="${#temporals.format(user.createdAt, 'dd-MM-yyyy HH:mm')}">createdAt</td>
            </tr>
            </tbody>
        </table>

    </div>


</div>

</body>
</html>
</body>
</html>